body{
 margin: 0 auto;
 padding: 0;
 width: 100vw;
 height: 100dvh;
 display: grid;
 grid-template-rows: .2fr 5fr;
 font-family: 'Roboto', sans-serif;
}
.header-cont {
 background: #000;
 color: white;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 2rem;
}
.header-cont h1{
 color: white;
}
.content-wrapper {
 display: grid;
 grid-template-columns: 1.4fr 5fr;
}
.sidebar-cont {
 background: #b69dbc;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.sidebar-cont #addProject{
 font-size: large;
 padding: .3em 3em;
}
.sidebar-cont .project{
 list-style-type: none;
 text-align: center;
 margin: 1rem ;
 padding: .5rem 5rem;
 font-size: 16px;
 letter-spacing: 4px;
 font-weight: bold;
}
.sidebar-cont .project:hover{
 color: antiquewhite;
 background: #8d5656;
 letter-spacing: 6px;
 cursor: pointer;
}
.project-list {
padding: 0;
margin: 0 auto;
}
.right-cont {
 background-color: #efe0e0;
 padding: 0 4rem;
 display: grid;
 grid-template-rows: 1fr 5fr;
}
.taskDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
dialog {
 animation: fade-out 0.7s ease-out;
}

dialog[open] {
 animation: fade-in 0.7s ease-out;
}

dialog[open]::backdrop {
 animation: backdrop-fade-in 0.7s ease-out forwards;
}

/* Animation keyframes */

@keyframes fade-in {
 0% {
   opacity: 0;
   transform: scaleY(0);
   display: none;
 }

 100% {
   opacity: 1;
   transform: scaleY(1);
   display: block;
 }
}

@keyframes fade-out {
 0% {
   opacity: 1;
   transform: scaleY(1);
   display: block;
 }

 100% {
   opacity: 0;
   transform: scaleY(0);
   display: none;
 }
}

@keyframes backdrop-fade-in {
 0% {
   background-color: rgb(0 0 0 / 0%);
 }

 100% {
   background-color: rgb(0 0 0 / 25%);
 }
}

body,
button {
 font-family: 'Roboto';
}
h1 a {
  text-decoration: none;
  color: whitesmoke;
}
