body{
 margin: 0 auto;
 padding: 0;
 width: 100vw;
 height: 100dvh;
 display: grid;
 grid-template-rows: .2fr 5fr;
 font-family: 'Roboto', sans-serif;
}
body,
button {
 font-family: 'Roboto';
}
h1 a {
  text-decoration: none;
  color: rgb(55, 55, 55);
}
.header-cont {
 background: #cfbbd3;
 color: rgb(55, 55, 55);
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 2rem;
}
.header-cont h1{
 color: white;
}
.content-wrapper {
 display: grid;
 grid-template-columns: 1.4fr 5fr;
}
.sidebar-cont {
 background: #eadeed;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.sidebar-cont #addProject{
 font-size: large;
 padding: .3em 3em;
}
.sidebar-cont .project{
 list-style-type: none;
 text-align: center;
 margin: 1rem ;
 padding: .5rem 5rem;
 font-size: 16px;
 letter-spacing: 4px;
 font-weight: bold;
}
.sidebar-cont .project:hover{
 color: antiquewhite;
 background: #cea792;
 letter-spacing: 6px;
 cursor: pointer;
}
.project-list {
padding: 0;
margin: 0 auto;
}
.right-cont {
  background: #e6d3eb;
  padding: 0 4rem;
 display: grid;
 grid-template-rows: 1fr 5fr;
}
.taskDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
}

.titleForm div {
  display: flex;
  justify-content: space-between;
}

.priority-level label:first-child {
  color: red;
}
.priority-level label:nth-child(2) {
  color: yellow;
}
.priority-level label:nth-child(3) {
  color: greenyellow;
}
.priority-level label:nth-child(4) {
  color: skyblue;
}

dialog {
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 5px;
  font-weight: bold;
}
input, textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
textarea {
  resize: vertical;
}
.priority-level {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.priority-level label {
  font-weight: normal;
}
button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background: rgba(255,255,255);
}
dialog button:hover {
  background: rgb(212, 160, 224);
  color: #616060;
}
.btn-submit {
  background: rgb(236, 194, 247);
  color: white;
}
.btn-submit:hover {
  background: rgb(214, 149, 233);
  color: #616060;
}
.btn-cancel {
  background: rgb(247, 194, 208);
  color: white;
  margin-left: 10px;
}
.btn-cancel:hover {
  background: rgb(234, 158, 178);
  color: #616060;
}
.button-group {
  display: flex;
  justify-content: flex-end;
}

dialog {
 animation: fade-out 0.7s ease-out;
}

dialog[open] {
 animation: fade-in 0.7s ease-out;
}

dialog[open]::backdrop {
 animation: backdrop-fade-in 0.7s ease-out forwards;
}

/* Animation keyframes */

@keyframes fade-in {
 0% {
   opacity: 0;
   transform: scaleY(0);
   display: none;
 }

 100% {
   opacity: 1;
   transform: scaleY(1);
   display: block;
 }
}

@keyframes fade-out {
 0% {
   opacity: 1;
   transform: scaleY(1);
   display: block;
 }

 100% {
   opacity: 0;
   transform: scaleY(0);
   display: none;
 }
}

@keyframes backdrop-fade-in {
 0% {
   background-color: rgb(0 0 0 / 0%);
 }

 100% {
   background-color: rgb(0 0 0 / 25%);
 }
}
