body {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.content-wrapper {
 display: grid;
 grid-template-columns: 1fr 5fr;
 width: 100dvw;
 height: 100dvh;
}

.left-side-div {
 background-color: #e0b2f0;
}

.content-wrapper main {
 background: rgb(248, 218, 218);
}

.main-wrapper {
 display: grid;
 grid-template-rows: 1fr 5fr;

}

.priorities div:first-child  label {
 color: red;
}
.priorities div:nth-child(2)  label {
 color: yellow;
}
.priorities div:nth-child(3)  label {
 color: greenyellow;
}
.priorities div:nth-child(4)  label {
 color: skyblue
}

.project-content-wrapper ul li {
 display: flex;
 border: 1px solid  black;
}

.title-modal,
.task-modal {
 display: none;
}

.task-modal  {
 border: 2px solid black;
 border-radius: 6px;
}
